    
    <div class="main-container">
        <div class="heading">
          <h1 class="heading__title">Speech Emotion Recognition</h1>
          <p class="heading__credits">  Harness the power of Deep Learning to predict emotions!!!</p>
        </div>
        <div class = "subheading">
            <h3>Emotions which we are able to predict : </h3>
        </div>
        <div class="cards">
          <div class="card card-1">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Neutral :| </h2>
          </div>

          <div class="card card-2">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
           <h2 class="card__title">Happy :)</h2>

          </div>

          <div class="card card-3">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
           <h2 class="card__title">Sad :(</h2>
          </div>

          <div class="card card-4">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
           <h2 class="card__title">Angry :<</h2>
            
          </div>


          <div class="card card-5">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
           <h2 class="card__title">Disgust</h2>
          
          </div>

          <div class="card card-1">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
         
            <h2 class="card__title">Fear</h2>
          </div>

        </div>